@charset "utf-8";
/* CSS Document */
/*body*/
.bigBox{
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}

.swiper-container {
		width: 100%;
		height: 472px;
	} 
.swiper-slide,.swiper-slide img{
	width: 100%;	
	height: 100%;	
}
.swiper-button-prev{
	color: #cccccc;
}
.pager{
	background-color: white;
	width: 100%;
	height: 20px;
}
.threepic{
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content:space-between ;
}
.gift{
	border:1px solid #b7b7b7;
}
#the_man{
	width: 407.6px;
	height: 546.6px;
	background-color: #323232;
}
.the_mantop{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 !important;
	margin-right: 0;
}
.the_mantop img{
	display: block;
	width: 407.6px;
	height:407.6px;
}
.the_manbottom h3{
	color: #ffffff;
	margin-top:30px;
}
#the_cash{
	width: 407.6px;
	height: 546.6px;
	background-color: #323232;
}
.the_cashtop{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 !important;
	margin-right: 0;
}
.the_cashtop img{
	display: block;
	width: 407.6px;
	height:407.6px;
}
.the_cashbottom h3{
	color: #ffffff;
	margin-top:5px;
}
.the_cashbottom h4{
	color: #ffffff;
	margin-top:25px;
}
#the_gift{
	width: 407.6px;
	height: 546.6px;
	border: 1px solid #b7b7b7;
}
.the_gifttop{
	float: left;
	width: 100%;
	height: 100%;
	padding: 0 !important;
	margin-right: 0;
}
.the_gifttop img{
	display: block;
	width: 407.6px;
	height:407.6px;
	border-bottom: 1px solid #b7b7b7;
}
.the_giftbottom h3{
	color: black;
	margin-top:5px;
}
.the_giftbottom h4{
	color: black;
	margin-top:25px;
}
.newword{
	margin: 10px 0;
	color: #323232;
}
#new{
	height: 418.5px;
	width: 100%;
}
#newId{
	margin-top: 32px;
	display: flex;
	justify-content:space-between ;
}
#newId li{
	width: 315px;
	height: 399px;
	float: left;
}
#newId li p{
	font-size: 14px;
	margin: 0 auto;
	font-size: 14px;
	white-space: normal;
	margin: 0;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.25;
	max-height: 35px;
}
.new_name{
	margin: 0 auto;
	width: 285px;
	height: 112.5px;
	color: black;
}
/*
.hide{
	width: 200px;
    height: 35px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
}*/
#newId li span{
	font-size: 14px;
	text-align: center;
	font-family: "MontblancType";
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.25;
	max-height: 50px;
	padding-left: 66px;
}
.for_span{
	
	width: 285px;
	height: 17px;
}
.new_price{
	margin: 0 auto;
	width: 285px;
	height: 112.5px;
	color: black;
}
.right_footer02 button{
	width: 31px;
	height: 27px;
    border: 1px solid #fff;
    border-radius: 0;
    margin: 0 0 0 -2px;
    color: #fff;
    background-color: #111;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}
.threepic01{
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content:space-between ;
	margin-top:20px ;
}
.threepic02{
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content:space-between ;
	margin:20px 0;
}



