@charset "utf-8";
/*header*/
html,body,div,p,form,ul,li,ol,dl,dt,dd,table,tr,td,th,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
	font-family: "行楷",Arial;
}
.body{
	font-family:"微软雅黑",arial;
	}
a{
	text-decoration:none;
	}
img{
	border:none;
	}
ul,li{
	list-style:none;
}
/*header*/
#top_nav{
	width: 100%;
	height: 40px;
	background-color: #343434;
	list-style: none;
}
#top_nav01{
	margin-left: 126px;
}
#top_nav01 a{
	line-height: 40px;
	text-decoration: none;
	color:#d7d7d7;
	font-size: 12px;
}
.phone{
	margin-left: 20px;
}
#top_nav02{
	line-height: 40px;
	float: right;
	margin-right: 123px;
}
.bag{
	margin:0 48px;
}
#middle_nav{
	width: 100%;
	height: 100px;
	background-color: #111111;
}
#middle{
	width: 1175px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content:space-between ;
}
#middle_nav a{
	float: left;
	color: #acacac;
	line-height: 100px;	
	font-size: 12px;
}

.logo{
	width: 109px;
	height: 62px;
	margin-top: 20px;
	margin-left: -17px;
}
#nav_line{
	width: 100%;
	height: 1px;
	background-image: url(../img/nav_line.jpg);
	background-repeat: repeat-x;
}
#bottom_nav{
	width: 100%;
	height: 44.5px;
	background-color: #111111;
	text-align: center;
	margin: 0 auto;
}
#ulId {
	width: 619px;
	margin: 0 auto;
	height: 100%;
}
#ulId a{
	float: left;
	font-size: 12px;
	color: #acacac;
	line-height: 44.5px;
	margin-right: 40px;
}
#ulId .lastli a{
	margin-right:0 ;
}



/*footer*/





#page_footer{
	background-color: #111111;
	width: 100%;
	height: 583px;
}
.empty{
	height: 100px;
    margin: 0;
    text-align: center;
    margin: 0 auto;
}
.middle_footer{
	width: 1175px;
	height: 265px;
	color: #fff;
	margin: 0 auto;
	padding: 36px 0 16px;
}
.left_footer{
	width: 576px;
	height: 265px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	float: left;
	display: flex;
	justify-content: space-between;
    
}
.left_footer01{
	width: 289px;
	height: 207px;
	float: left;
	padding: 0 15px;
	padding-bottom: 10px;
	text-align: left;
}
.left_footer01 a{
	display: block;
    padding: 0 0 10px;
    color: #acacac;
    text-transform: uppercase;
    font-size: 14px;
}
.fuwu{
	
    border-bottom: 1px solid #acacac;
}
.left_footer01Id ul li{
	display: block;
	list-style: none;
	font-size: 11px;
}
.shoppingzhuli{
	margin-top: 10px;
}
.left_footer02{
	width: 289px;
	height: 207px;
	padding: 0 15px;
	padding-bottom: 10px;
	text-align: left;
}
#searchkuang{
	width: 230px;
	height: 22px;
	margin-left: 5px;
}
.left_footer02 a{
	display: block;
    padding: 0 0 10px;
    color: #acacac;
    text-transform: uppercase;
    font-size: 14px;
}
.fuwu{
	
    border-bottom: 1px solid #acacac;
}
.left_footer02Id ul li{
	display: block;
	list-style: none;
	font-size: 11px;
}
.shoppingzhuli{
	margin-top: 10px;
}
.right_footer{
	width: 576px;
	height: 218px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	float: left;  
}
.right_footer00{
	display: flex;
}
.right_footer01{
	width: 288px;
	height: 110px;
	padding: 0 15px;
	padding-bottom: 10px;
	text-align: left;
	margin-right: 0;
}
.right_footer01 a{
	display: block;
    padding: 0 0 10px;
    color: #acacac;
    text-transform: uppercase;
    font-size: 14px;
}
.smallpic i{
	margin-right: 40px;
}
.smallpic ul{
	display: block;
	margin: 10px 0 0;
}
.smallpic li{
	display: block;
	margin: 10px 0 0;
	float: left;
	width: 50px;
}
.right_footer02{
	width: 288px;
	height: 53px;
	float: left;
	margin-top: 20px;
}
.blongAPP{
	display:block;
	clear:both;
	padding-top:10px
}
.blongAPP a{
	display: block;
	padding: 3px 0;
	color: #acacac;
	text-transform: none;
	font-size: 75%;
}
.right_footer03{
	width: 288px;
	height: 68px;
	margin: 30px 0 0 14px;
}
.payWay a{
	display: block;
    padding: 0 0 10px;
    border-bottom: 1px solid #acacac;
    color: #acacac;
    text-transform: uppercase;
    font-size: 90%;
}
.payWayId img{
	width: 56px;
	height: 17.6px;
	padding: 20px 10px 0 0;
	float: left;
}
.bottom_logo{
	background: #111;
    width: 100%;
    margin: 47px 0;
}
#logo01{
	width: 1175px;
	height: 256px;
	margin: 0 auto;
}
.bottom_logo{
	
	display: flex;
	justify-content: center;
}
.bottom_logo img{
	margin: 0 auto;
}

